/*Registo*/
.btn-registro{
    width: 100%;
}
.container-registro{
    width: 800px;
}
/*Login*/
div.login{
	width: 300px;

}
.btnLogin{
	width: 100%;
}
div.marginLogin{
	margin-bottom: 5px;
}
button.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
    display: none;
}
.ui-dialog-titlebar-close {
    display: none;
}
#dialog-form{
	width: 200px;
}
/*Estilos nuevos*/
.cestaImagen{
    width:100px;
    height: 100px;
}
.logoHeader{
    background-color: #0f0
}
.nameHeader{
    background-color: #f00;
}
.loginHeader{
    background-color: #00f;
}
.inln-block{
    display: inline-block;
}